replicaCount: 1

image:
  repository: ghcr.io/drikqlis/wish-journal
  pullPolicy: Always
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: false
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext:
  fsGroup: 1000

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: false
  runAsNonRoot: true
  runAsUser: 1000
  capabilities:
    drop:
      - ALL

service:
  type: ClusterIP
  port: 5000

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: wish-journal.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

persistence:
  data:
    enabled: true
    size: 1Gi
    storageClass: ""
    accessMode: ReadWriteOnce
    existingClaim: ""
  content:
    enabled: true
    size: 5Gi
    storageClass: ""
    accessMode: ReadWriteOnce
    existingClaim: ""

flask:
  secretKey: ""
  existingSecret: ""
  existingSecretKey: "SECRET_KEY"

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

livenessProbe:
  httpGet:
    path: /auth/login
    port: http
  initialDelaySeconds: 10
  periodSeconds: 30

readinessProbe:
  httpGet:
    path: /auth/login
    port: http
  initialDelaySeconds: 5
  periodSeconds: 10

nodeSelector: {}
tolerations: []
affinity: {}
